<header class="header-6">
  <div class="branding">
    <a routerLink="/" class="nav-link">
      <clr-icon shape="wrench"></clr-icon>
      <span class="title">Hacker Tools</span>
    </a>
  </div>
  <div class="header-nav">
    <a
      routerLink="nmap"
      routerLinkActive="active"
      class="nav-link nav-text"
      [routerLinkActiveOptions]="{ exact: false }"
      >NMAP</a
    >
  </div>
  <div class="header-actions">
    <a href="javascript://" class="nav-link nav-icon" aria-label="settings">
      <clr-icon shape="cog"></clr-icon>
    </a>
  </div>
</header>
